@model IEnumerable<SmartFoodRestaurantSystem.Models.OrderListViewDB>

@{
    ViewData["Title"] = "Receipt";
}
<style type="text/css" media="print">
    #accordionSidebar{
        display: none;
    }



    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }


    .height {
        min-height: 200px;
    }

    .card-header {
        background-color: white;
    }


 

    .table > tbody > tr > .emptyrow {

        padding-bottom:0px;
      
    }


   
</style>

<div id="print">
    <div class="row justify-content-center ">
        <div class="col-md-9">
            <div class="card mt-2">
          
                <table class="mt-2">
                    <tr>
                        <td>
                            <img src="~/images/download (2) - Copy.png" style="margin-top: 3px;">
                        </td>

                        <td class="mr-2" style="float:right">
                            <h5 class="h4 text-gray-900 mb-1">Al-Fajar Family Restaurant</h5>
                            <h6 class="h6 text-gray-900 mb-1">Sambrial Road Sialkot</h6>
                            <h6 class="h6 text-gray-900 mb-1">Tel: 052-3560049  0334-29644116</h6>

                            Date: @DateTime.Now
                        </td>
                    </tr>
                </table>




                <div class="card-block mt-2">
                    <div class="table-responsive  ">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><strong> @Html.DisplayNameFor(model => model.itemName)</strong></td>
                                    <td class="text-xs-center"><strong>      @Html.DisplayNameFor(model => model.Quantity)</strong></td>
                                    <td class="text-xs-center"><strong> @Html.DisplayNameFor(model => model.Price)</strong></td>
                                    <td class="text-xs-right"><strong> @Html.DisplayNameFor(model => model.SubTotal)</strong></td>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.itemName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubTotal)
                                        </td>
                                    </tr>
                                }
                                @foreach (var t in ViewBag.Totals)
                                {
                                    <tr style="border-top: 1px solid black">

                                        <td colspan="3" style="text-align:right;"><strong>Total Amount</strong></td>
                                        <td> @t.TotalAmount</td>
                                    </tr>

                                    <tr>

                                        <td colspan="3" style="text-align:right;"><strong>Service Charges</strong></td>
                                        <td> @t.ServiceCharges</td>
                                    </tr>
                                    <tr>

                                        <td colspan="3" style="text-align:right;"><strong>Discount</strong></td>
                                        <td class="text-left"> @t.Discount</td>
                                    </tr>

                                    <tr>

                                        <td colspan="3" style="text-align:right;"><strong>Grand Total</strong></td>
                                        <td>  @t.GrandTotal</td>
                                    </tr>

                                }
                            </tbody>
                        </table>


                        <h6 class="h5 text-gray-900 mb-1 ml-2">Thank You For Your Kind Visit</h6>
                    </div>

                    <input style="float:right; padding: 15px;" type='button' class="btn btn-primary" value='Print' onclick="printDiv('print')">

                </div>
            </div>
            </div>
        </div>
    </div>





@section Scripts{
    <script>




       function printDiv(divName) {
   var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
	document.body.style.marginTop="0px";
    window.print();
    document.body.innerHTML = originalContents;
}

    </script>
}
