@model IEnumerable<SmartFoodRestaurantSystem.Models.MenuAdd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuPriceHalf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuPriceFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuUpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuPriceHalf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuPriceFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuUpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuCreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.AdminId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MenuId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenuId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenuId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
