@model IEnumerable<SmartFoodRestaurantSystem.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSoldOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRemain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleReportCreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleReportCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleReportModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleReportModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSoldOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRemain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleReportCreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleReportCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleReportModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleReportModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
