@model IEnumerable<SmartFoodRestaurantSystem.Models.FeedBack>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedBackDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedBackEnvironment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedBackStaffBehaviour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBackDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBackEnvironment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBackStaffBehaviour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedBackId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedBackId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedBackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
