@model SmartFoodRestaurantSystem.Models.OrderMenu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderMenu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuPriceHalf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuPriceHalf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuPriceFull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuPriceFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Table.TableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MenuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
