
@model IEnumerable<SmartFoodRestaurantSystem.Models.Order>

@{
    ViewData["Title"] = "GoingOrder";
}
<style>
    .card{
        width: 200px;
        border: 1px solid #1cc88a;
    }

    
</style>
<h4 class="h4 text-gray-900 mb-4">On Going Order:</h4>
<div class="container">
    <div class="col-md-12">
        <div class="card-deck">
            @foreach (var item in Model)
            {
                <div class="row" style="padding: 3px">
                    <div class="card parent_div">
                        <div class="card-header">
                            <h6 class="card-title" id="name">@item.Name</h6>
                        </div>
                        <div class="card-body">
                            <p> Order ID : @item.Id</p>
                            <p> TableNumber: @item.TableNumber</p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                            <a asp-action="Edit" asp-controller="OrderLists" asp-route-id="@item.Id">Payement</a> |
                            <a asp-action="Show" asp-controller="OrderLists" asp-route-id="@item.Id">Print Bill</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>