@model IEnumerable<SmartFoodRestaurantSystem.Models.KitchenViewDB>
@{
    ViewData["Title"] = "Index";
    var x = true;

}
<style>
    .card {
        width: 200px;
        border: 1px solid yellow;
        background-color: black;
    }

    .card-header {
        background-color: black;
    }

    p, h6 {
        color: white;
    }
</style>
<div class="container-fluid">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-12">
            <body style="background-color: black" onload="Javascript: loadref(10000)">
                <div class="card-deck">
                    @foreach (var group in Model.GroupBy(x => x.Id))
                    {
                        <div class="row">
                            <div class="card parent_div">
                                <div class="card-header">
                                    <span>@Html.DisplayNameFor(model => model.Name)</span> ::  <span>@Html.DisplayNameFor(model => model.Quantity)</span>
                                    @foreach (var item in group)
                                    {
                                        if (x == true)
                                        {
                                            <h6 class="card-title">@Html.DisplayFor(modelItem => item.TableNumber)</h6>
                                            x = false;
                                        }
                                        <div class="card-body">
                                            <span>@Html.DisplayFor(modelItem => item.Name)</span> :: <span>@Html.DisplayFor(modelItem => item.Quantity)</span>
                                        </div>
                                    }
                                    @{x = true;}
                                </div>
                            </div>
                        </div>
                     }
                </div>
            </body>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function loadref(time) {
            setTimeout("location.reload(true);", time);
        }
    </script>
}
